body {
  padding-top: 5rem;
}

header {
  padding: 1rem;
}

.authorpic {
  height: 10rem;
  width: 10rem;
}

#lass-card-img {
  height: auto;
  width: 50%;
  margin: 0 auto;
}

.carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.26);
}

.carousel-indicators .active {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
